input {
  padding: .5rem;
  margin-top: .5rem;
  max-width: 40em;
}
input[type="radio"] {
  padding: 0;
  margin: .25em 1em 0 0;
}
button {
  padding: .5em 1em;
  border-radius: .3rem;
  background: var(--primary-back);
  border: solid 3px var(--primary);
}
label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
label.radio {
  flex-direction: row;
  margin-bottom: .5rem;
}
fieldset {
  border: none;
  margin-bottom: .5rem;
  padding: 0;
}
legend {
  font-size: 1.2em;
  margin-bottom: .5rem;
}