@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('/src/assets/forms.css');

:root {
  --text: rgb(31, 31, 31);
  --back: white;
  --back-accent: #eee;
  --primary: hsl(268, 100%, 36%);
  --primary-back: hsl(268, 100%, 95%);
}
body {
  margin: 0;
  padding: 0;
  color: var(--text);
  background: var(--back);
  font-family: 'Source Sans Pro', sans-serif;
}
h1 {
  color: var(--primary);
}
[hidden] {
  display: none !important;
}
summary {
  margin-bottom: 1rem;
}
a[href] {
  color: var(--primary);
}