@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,400;0,600;1,400&family=Source+Sans+Pro&display=swap');
@import url('/src/assets/forms.css');
@import url('/src/assets/tables.css');

:root {
  --base-start: hsl(0, 0%, 12%);
  --base-end2: hsl(0, 0%, 93%);
  --base-end: hsl(0, 0%, 98%);
  /* Contrast of 3:1 between start => mid => end. Start to End has 9:1 */
  --primary-start: hsl(268, 100%, 34%);
  --primary-mid: hsl(268, 79%, 67%);
  --primary-end: hsl(268, 100%, 95%);
}

body {
  margin: 0;
  padding: 0;
  color: var(--base-start);
  background: var(--base-end);
  font-family: 'Nunito', sans-serif;
}

*:focus {
  outline: solid 1px var(--primary-start);
  box-shadow: 0 0 2px var(--primary-start),  0 0 4px var(--primary-start);
}

h1 {
  color: var(--primary-start);
  font-size: 1.6rem;
}

[hidden] {
  display: none !important;
}

summary {
  margin-bottom: 1rem;
}

a[href] {
  color: var(--primary-start);
}
